<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="BingNext" value="https://umga.pkgs.visualstudio.com/DefaultCollection/_packaging/BingNext/nuget/v3/index.json" />
  </packageSources>
</configuration>
